/** BLOG **/

.header-blog {background:#3BB9AB}
.header-blog img {max-width:65px;}
.header-blog h3 {color: #fff;margin: 0 30px 10px;font-family: 'catamaranthin';font-size: 40px;}

.portada-entry-blog {min-height:600px;background-size:cover !important;background-position:center !important;}
.portada-entry-blog .content-title {width: 100%;margin-top: auto;background: rgba(0, 0, 0, 0.42);padding: 55px 0;}
.portada-entry-blog .content-title h3 {margin: 0;font-size: 31px;color: #fff;font-family: 'catamaransemibold';}

.body-entry p {color: #000;margin: 35px 0;font-family: 'catamaranthin';font-size: 17px;}
.body-entry h3 {font-family: 'catamaransemibold';margin:0;font-size:22px;}
.body-entry img {max-width:100%;width:100%;}

.pie-footer-entry {background: #fff;padding-top: 50px;margin-bottom:30px;padding-bottom:50px;}
.pie-footer-entry img {max-width:120px;margin-left: auto;margin-right: -60px;}
.redes-compartir {margin-left: auto;margin-right: 60px;}
.pie-footer-entry p {color: #000;margin: 0 0 30px;font-family: 'catamaransemibold';font-size: 17px;}

.categorias {padding: 30px 0;background: rgba(47, 47, 71, 0.80);margin-top:20px;}
.categorias h5 {color: #fff;font-size: 33px;font-family: 'catamaranthin';margin: 0;}
.categorias a {color: #fff;font-family: 'catamaranthin';font-size: 18px;display: inline-block;margin: 5px;}
.categorias a:hover {color:#3BB9AB;}
.categorias a.active-cat {color:#3BB9AB;}

@media screen and (max-width:768px) {
	.portada-entry-blog {background-position:center right !important;min-height: 300px;}
	.portada-entry-blog .content-title {padding:25px 0;}
	.portada-entry-blog .content-title h3 {font-size: 21px;}
	.redes-compartir {width:100%;text-align:center;margin:0 auto;}
	.pie-footer-entry img {margin:0 auto 20px;}
	.pie-footer-entry p {font-size:14px;}
}