.preloader {
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  background-color:transparent;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  z-index: 9999;
  overflow: hidden;
}

.load-cupones {
  color:#c7c5c5;
  font-size:18px;
  display:inline-block;
  margin:0 10px;
  padding:0;
  line-height:normal;
}

.loader {
  height: 20px;
  width: 20px;
  border: 2px solid #c7c5c5;
  border-right-color: transparent;
  border-top-color: transparent;
  display: inline-block;
}



.slide-fade-enter-active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slide-fade-leave-active {
  -webkit-transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-slow-enter-active,
.fade-slow-leave-active {
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

.fade-slow-enter,
.fade-slow-leave-to {
  opacity: 0;
}

.principal-cupones {background: rgb(204,209,224);background: linear-gradient(180deg, rgba(98,12,209,1) 90%, rgba(204,209,224,1) 90%);padding: 90px 0;padding: 90px 0;}
.principal-cupones h6 {font-size:15px;color:#FF04CE;margin:0 0 10px;font-weight:bold;}
.principal-cupones h3 {font-size:40px;color:#fff;margin:0 0 0;line-height:1;}
.grid-cupones {min-height: 80px;padding: 80px 0;background: #F4F6F8}
.grid-cupones .notification.is-info {background:none;color:#000;}
.content-cupon {border: 1px #000 solid;margin-bottom: 30px;display:inline-block;width:100%;transition:.6s;}
.content-cupon:hover, .content-cupon:focus {text-decoration:none;border:1px red solid;transition:.6s;outline:none;}
.content-cupon .info-cupones {padding:10px 15px;}
.content-cupon .info-cupones h3 {margin: 0;font-size: 20px;text-transform: uppercase;font-weight: 700;}
.content-cupon .info-cupones p {margin: 0;font-size: 24px;font-weight: 800;}
.content-cupon .bck-img-cupon {min-height:200px;width:100%;background-size:cover !important;background-position:center !important;background-repeat:no-repeat !important;}

.custom-checkbox {
      position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}
.custom-checkbox label.custom-control-label, .custom-radio label.custom-control-label {
    padding-top: 2px;
    cursor: pointer;
    position:relative;
}
.custom-control-input:checked~.custom-control-label::before {
      color: #fff;
    border-color:#7304D6;
    background-color:#7304D6;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
      background-image:none;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-control-label::after {
      position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.custom-control-label::before {
  border: #000 solid 1px;
  border-radius: 0px !important;
}

.absolute-chica-cupones {position: absolute;bottom: 0;transform: translate(140%, 0);max-width: 440px;}

#destacadosCupones .owl-stage-outer {position:relative;z-index:2;}
#destacadosCupones .owl-nav {position: absolute;top: 0;bottom: 0;display: flex;align-items: center;justify-content: center;left: 0;right: 0;}
#destacadosCupones .owl-prev {z-index:3;background: #FF9901;padding: 0;border-radius: 100%;position: relative;left: -15px;width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.04);}
#destacadosCupones .owl-next {z-index:3;margin-left:auto;background: #FF9901;padding: 0;border-radius: 100%;position: relative;right: -15px;width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.04);}

#destacadosCupones .fa-caret-left {background:url('../img/arrow_slide.png');font-size: 0;width: 12px;height: 16px;background-size: contain;background-repeat: no-repeat;}
#destacadosCupones .fa-caret-right {transform:rotate(180deg);background:url('../img/arrow_slide.png');font-size: 0;width: 12px;height: 16px;background-size: contain;background-repeat: no-repeat;}
.size-icon-dest {display:inline-block;width:50px;height:40px;border-radius:100%;background-position:center !important;background-repeat:no-repeat !important;background-size:contain !important;}

.box-cupon {background:#fff;padding:10px;}
.box-cupon h5 {margin: 0;font-size: 11px;font-weight: bold;color:#9FA5B7;}

.card-cupon {border: 6px #fff solid;box-shadow: 4px 3px 6px 0px rgba(0, 0, 0, 0.11);}
.card-cupon .content-img {min-height: 200px;width: 100%;background-size: cover !important;position:relative;}
.card-cupon .content-info {background: #F3F4FA;padding: 10px 10px;}
.card-cupon .content-info .content-logo-marca {border-radius: 100%;width: 40px;height: 40px;color:#620CD1;border: 2px #620CD1 solid;display: inline-flex;align-items: center;justify-content: center;font-size: 11px;}
.card-cupon .content-info h2 {font-size: 12px;display: inline-flex;max-width: 50%;margin: 0 7px;color:#620CD1;}
.card-cupon .content-info p {font-size:14px;margin:0;font-weight:600}
.dia-fecha {margin:0 1px;background: #DBDDF0;color: #fff;width: 15px;height: 15px;border-radius: 100%;font-size: 8px;display: inline-flex;justify-content: center;align-items: center;font-weight: bold;}
.dia-fecha.active {background:#620CD1;}

.card-cupon .call-to-action {background: #620CD1;padding: 10px 0;}
.card-cupon .call-to-action p {margin: 0;color: #fff;font-weight: 600;font-size: 12px;}
.card-cupon .call-to-action h6 {margin: 0;font-size: 33px;color: #fff;font-weight: bold;}
.card-cupon .call-to-action .btn-quiero {background: rgb(255,153,1);background: linear-gradient(210deg, rgba(255,153,1,1) 10%, rgba(255,0,200,1) 141%);color: #fff;padding: 12px 10px;font-size: 14px;font-weight: bold;}

.icon-punt {position: absolute;top: 5px;left: 5px;text-align: center;}
.icon-punt .icon-corazon {background: #620CD1;border-radius: 100%;width: 25px;text-align: center;display: flex;align-items: center;justify-content: center;height: 25px;padding: 5px;}
.icon-punt p {margin: 0;font-size: 14px;color: #620CD1;font-weight: bold;}

.content-share-right {position: absolute;right: 0;}
.content-share-right .icon-share {background: #620CD1;width: 30px;text-align: center;height: 30px;display: flex;align-items: center;justify-content: center;}
.content-share-right .icon-map {background: #FF515E;width: 30px;text-align: center;height: 30px;display: flex;align-items: center;justify-content: center;}

.grid-cupones .card {box-shadow: none;background: #fff;border: none;border-bottom: 1px #000 solid !important;border-radius:0px;padding:30px;}
.grid-cupones .card-header {background: #fff;box-shadow: none;border: none;padding:0;}
.grid-cupones .card-header button {color: #7304D6;font-weight: 500;font-size: 22px;padding: 0;}
.grid-cupones .card-body {padding:0;margin-top:20px;}

.grid-cupones .title-filter {background: #fff;margin: 0;padding: 20px 30px;border-bottom: 1px #000 solid;color: #676B73;font-weight: 500;font-size: 22px;}
.grid-cupones .result p {color: #7304D6;font-weight: 500;font-size: 27px;padding: 0;}

.order {margin-bottom: 20px;border: 1px #7304D6 solid;display: inline-block;padding: 2px 10px 2px 15px;text-align: center;background: #fff;}
.order p {display: inline-block;color: #7304D6;margin: 0;font-size: 14px;font-weight: 500;}
.order select {display: inline-block;padding: 0;font-size: 13px;color: #7304D6;border-color: #7304D6;font-weight: 500;border: none;background: none;}
.order select:focus {outline:none;border:none;}
.order option {padding:10px 0;text-align:center;}