/* HOME STYLES */ 

.principal {background: rgb(204,209,224);background: linear-gradient(180deg, rgba(204,209,224,1) 71%, rgba(98,12,209,1) 71%);padding:90px 0;}
.principal p {margin:0 0 60px;color: #fff;font-size: 25px;font-weight: 500;}
.principal h3 {color: #620CD1;font-weight: bold;font-size: 36px;margin: 0;}

.box-cupon {background:#fff;padding:10px;}
.box-cupon h5 {margin: 0;font-size: 11px;font-weight: bold;color:#9FA5B7;}
#destacadosCupones .owl-stage-outer {position:relative;z-index:2;}
#destacadosCupones .owl-nav {position: absolute;top: 0;bottom: 0;display: flex;align-items: center;justify-content: center;left: 0;right: 0;}
#destacadosCupones .owl-prev {z-index:3;background: #FF9901;padding: 0;border-radius: 100%;position: relative;left: -15px;width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.04);}
#destacadosCupones .owl-next {z-index:3;margin-left:auto;background: #FF9901;padding: 0;border-radius: 100%;position: relative;right: -15px;width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.04);}

#destacadosCupones .fa-caret-left {background:url('../img/arrow_slide.png');font-size: 0;width: 12px;height: 16px;background-size: contain;background-repeat: no-repeat;}
#destacadosCupones .fa-caret-right {transform:rotate(180deg);background:url('../img/arrow_slide.png');font-size: 0;width: 12px;height: 16px;background-size: contain;background-repeat: no-repeat;}

#CuponRight .owl-stage-outer {position:relative;z-index:2;}
#CuponRight .owl-nav {position: absolute;top: 0;bottom: 0;display: flex;align-items: center;justify-content: center;left: 0;right: 0;}
#CuponRight .owl-prev {z-index:3;background: #fff;padding: 0;border-radius: 100%;position: relative;left: -15px;width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.04);}
#CuponRight .owl-next {z-index:3;margin-left:auto;background: #fff;padding: 0;border-radius: 100%;position: relative;right: -15px;width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.04);}


.search-home .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {width:100%;}
.search-home input {width:100%;border:none;padding:7px 15px;}
.search-home input[type="submit"] {border:none;padding:7px 15px;background: rgb(255,153,1);background: linear-gradient(210deg, rgba(255,153,1,1) 10%, rgba(255,0,200,1) 141%);color: #fff;}

.principal .cupones-destacados p {margin: 40px 0 10px;font-weight: 500;font-size: 14px;}

.seccion-02 {padding:80px 0;background:#F4F6F8;overflow:hidden;}
.seccion-02 h3 {font-size: 35px;font-weight: bold;margin: 0 0 40px;color:#620CD1;}

.seccion-03 {padding:80px 0;background:#CCD1E0;}
.seccion-03 h3 {color: #fff;font-weight: bold;font-size: 35px;margin: 0;}
.seccion-03 p {margin: 5px 0 40px;font-weight: bold;color: #620CD1;}

.owl-carousel .owl-item img {width:auto;max-width:100%;}

.p-05 {padding:0 5px;}
.margin-bt-comercios {margin-bottom:10px;}

.size-icon-dest {display:inline-block;width:50px;height:40px;border-radius:100%;background-position:center !important;background-repeat:no-repeat !important;background-size:contain !important;}

.absolute-img-principal {position: absolute;bottom: -2px;left: 0;text-align: center;z-index: 1;transform:translate(110%, 0);}

.borde-botomm {background: rgb(255,153,1);background: linear-gradient(270deg, rgba(255,153,1,1) 0%, rgba(255,0,200,1) 100%);width:100%;height:10px;position:absolute;bottom:0;z-index:0;}


.card-cupon {border: 6px #fff solid;box-shadow: 4px 3px 6px 0px rgba(0, 0, 0, 0.11);}
.card-cupon .content-img {min-height: 200px;width: 100%;background-size: cover !important;position:relative;}
.card-cupon .content-info {background: #F3F4FA;padding: 10px 10px;}
.card-cupon .content-info .content-logo-marca {border-radius: 100%;width: 40px;height: 40px;color:#620CD1;border: 2px #620CD1 solid;display: inline-flex;align-items: center;justify-content: center;font-size: 11px;}
.card-cupon .content-info h2 {font-size: 12px;display: inline-flex;max-width: 50%;margin: 0 7px;color:#620CD1;}
.card-cupon .content-info p {font-size:14px;margin:0;font-weight:600}
.dia-fecha {margin:0 1px;background: #DBDDF0;color: #fff;width: 15px;height: 15px;border-radius: 100%;font-size: 8px;display: inline-flex;justify-content: center;align-items: center;font-weight: bold;}
.dia-fecha.active {background:#620CD1;}

.card-cupon .call-to-action {background: #620CD1;padding: 10px 0;}
.card-cupon .call-to-action p {margin: 0;color: #fff;font-weight: 600;font-size: 12px;}
.card-cupon .call-to-action h6 {margin: 0;font-size: 33px;color: #fff;font-weight: bold;}
.card-cupon .call-to-action .btn-quiero {background: rgb(255,153,1);background: linear-gradient(210deg, rgba(255,153,1,1) 10%, rgba(255,0,200,1) 141%);color: #fff;padding: 12px 10px;font-size: 14px;font-weight: bold;}

.icon-punt {position: absolute;top: 5px;left: 5px;text-align: center;}
.icon-punt .icon-corazon {background: #620CD1;border-radius: 100%;width: 25px;text-align: center;display: flex;align-items: center;justify-content: center;height: 25px;padding: 5px;}
.icon-punt p {margin: 0;font-size: 14px;color: #620CD1;font-weight: bold;}

.content-share-right {position: absolute;right: 0;}
.content-share-right .icon-share {background: #620CD1;width: 30px;text-align: center;height: 30px;display: flex;align-items: center;justify-content: center;}
.content-share-right .icon-map {background: #FF515E;width: 30px;text-align: center;height: 30px;display: flex;align-items: center;justify-content: center;}

.absolute-bommba {position: absolute;bottom: -20%;right: 20px;max-width: 245px;}

#Ranking .owl-stage-outer {position:relative;z-index:2;}
#Ranking .owl-nav {position: absolute;top: 0;bottom: 0;display: flex;align-items: center;justify-content: center;left: 0;right: 0;}
#Ranking .owl-prev {z-index:3;background: #fff;padding: 0;border-radius: 100%;position: relative;left: -15px;width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.04);}
#Ranking .owl-next {z-index:3;margin-left:auto;background: #fff;padding: 0;border-radius: 100%;position: relative;right: -15px;width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.04);}

#Ranking .fa-caret-left {transform:rotate(180deg);background:url('../img/arrow_2.png');font-size: 0;width: 100%;background-position:center;height: 16px;background-size: contain;background-repeat: no-repeat;}
#Ranking .fa-caret-right {background:url('../img/arrow_2.png');font-size: 0;width: 100%;background-position:center;height: 16px;background-size: contain;background-repeat: no-repeat;}

@media screen and (max-width:768px) {

	.cupones-destacados {margin:20px 0 !important;}
	.card-cupon {margin-bottom:30px;}
	.seccion-03 {padding:80px 30px;}
}		