html, body {margin:0;padding:0;scroll-behavior: smooth;}

body{ font-family: 'Raleway', sans-serif;}

@font-face {
    font-family: 'catamaranblack';
    src: url('../fonts/catamaran-black-webfont.woff2') format('woff2'),
         url('../fonts/catamaran-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'catamaranbold';
    src: url('../fonts/catamaran-bold-webfont.woff2') format('woff2'),
         url('../fonts/catamaran-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'catamaranextrabold';
    src: url('../fonts/catamaran-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/catamaran-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'catamaranextralight';
    src: url('../fonts/catamaran-extralight-webfont.woff2') format('woff2'),
         url('../fonts/catamaran-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'catamaranlight';
    src: url('../fonts/catamaran-light-webfont.woff2') format('woff2'),
         url('../fonts/catamaran-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'catamaranmedium';
    src: url('../fonts/catamaran-medium-webfont.woff2') format('woff2'),
         url('../fonts/catamaran-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'catamaranregular';
    src: url('../fonts/catamaran-regular-webfont.woff2') format('woff2'),
         url('../fonts/catamaran-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'catamaransemibold';
    src: url('../fonts/catamaran-semibold-webfont.woff2') format('woff2'),
         url('../fonts/catamaran-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'catamaranthin';
    src: url('../fonts/catamaran-thin-webfont.woff2') format('woff2'),
         url('../fonts/catamaran-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a {transition:.6s;}
a:hover, a:focus {text-decoration:none;opacity:.6;transition:.6s;}

#videosList {
 max-width: 600px; 
  overflow: hidden;
}
.mascara-video:hover {cursor:pointer;}
.mascara-video::after {content: '';position: absolute;left: 0;right: 0;bottom: 0;/* top: 0; */min-height: 100%;background: linear-gradient(8deg, hsl(0deg 0% 0% / 47%) 0%, rgba(255,255,255,0) 100%);}

.modal-videos h5 {color: #000;margin-bottom: 0;font-family: 'catamaransemibold';font-size: 25px;}
/* Hide Play button + controls on iOS */
.video video::-webkit-media-controls {
    display:none !important;
}
.opacity-1 {opacity:1 !important;transition:.6s;}
.video video {
  object-fit: cover;
  object-position: center;
  opacity:0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  transition:.6s;
}

.video-interna video::-webkit-media-controls {
    display:none !important;
}
.video-interna video {
  object-fit: cover;
  object-position: top;
  opacity:0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  transition:.6s;
}

.visible-xs {display:none !important;}
.hidden-xs {display:block !important;}

/* HEADER */

header {background:#0d2ea0;padding:20px 15px;}
.grilla-blogs {padding-bottom:30px;}
.open-suscribirte:hover {cursor:pointer;}
.float-button  {position:fixed;bottom:40px;right:0;z-index:10;}
.float-button .paralelogramo {z-index:10;bottom:0;text-align: right;padding:13px 30px 20px;margin-bottom: 15px;background: rgb(25,101,223);background: linear-gradient(90deg, rgba(25,101,223,1) 0%, rgba(25,101,223,1) 50%, rgba(25,101,223,1) 100%);}
.float-button .paralelogramo h3 {transform: rotate(0) skewY(0);font-size: 20px;text-align: left;color: #fff;line-height: 1;}
.float-button .paralelogramo h3 strong {font-family: 'catamaransemibold';font-weight:normal;color:#fff;}
.float-button .paralelogramo .open {margin-top: auto;margin-bottom: -5px;color: #fff;font-size: 18px;margin-left: 10px;}
header img {max-width:110px !important;}
header .conten-form-header {position:absolute;top:40%;z-index:9;left:0;right:0;}
header .conten-form-header form input:focus {outline:none;text-decoration:none;border:none;}
header .conten-form-header form input {width:100%;border: none;padding: 10px 15px;font-family: 'catamaranregular';font-size:14px;}
header .conten-form-header form input[type="submit"] {transition:.6s;background:#1965DF;color: #fff;font-size: 15px;border:2px transparent solid;font-family: 'catamaranmedium';}
header .conten-form-header form input[type="submit"]:hover {transition:.6s;color:#1965DF;background:none;border:2px #1965DF solid;}
header .conten-form-header form {box-shadow:-6px 2px 4px 1px rgba(0, 0, 0, 0.19);margin-top:50px;}
header .user-name {display: inline-block;margin:0 15px;font-size:18px;color: #fff;font-family: 'catamaranmedium';}

.content-menu {padding:20px 10px;}
.content-menu ul {margin:0;padding:0;}
.content-menu ul li {display:inline-block;margin:0 20px;}
.content-menu ul li a {font-family: 'catamaranthin';color:#000;font-size:19px;}

footer {background: #131f49;padding: 20px 0;}
footer p {color: #fff;margin: 0;font-family: "Helvetica",sans-serif !important;}
footer a {color: #fff;margin: 0;font-family: "Helvetica",sans-serif !important;}

.modulo-02 {overflow:hidden;margin-top:50px;}
.modulo-02 img {position:relative;left:-45px;margin-top:auto;}
.paralelogramo {width: 100%;height: 100%;background: #3BB9AB;padding: 45px 25px;transform: rotate(20deg) skewY(-20deg);position: relative;bottom: -50px;}
.paralelogramo p {color:#fff;font-weight:normal;font-family: 'catamaranthin';font-size:20px;margin-bottom: auto;padding-right:20px;}
.paralelogramo h3 {color:#3BB9AB;font-weight:normal;font-family: 'catamaranthin';font-size:45px;margin:0;line-height:1;}


/** BLOG HOME **/

.destacado-full {background-size:cover !important;background-position:top center !important;min-height:700px;background-repeat:no-repeat !important;}
.destacado-full .content-entrada-home {margin-top:auto;background:rgba(0, 0, 0, 0.80);padding:0;}
.destacado-full .content-entrada-home p {color: #fff;font-family: 'catamaransemibold';margin: 0;max-width: 85%;padding: 20px 60px 100px;font-size: 22px;}
.destacado-full .content-entrada-home .icon-premium {position: absolute;bottom: 5px;right: 15px;padding: 10px;}
.destacado-full .content-entrada-home .icon-premium h6 {text-transform:uppercase;color: #3BB9AB;margin: 0 10px 0px 0;font-size: 13px;font-family: 'catamaransemibold';text-align: right;}
.destacado-full .content-entrada-home .icon-premium img {max-width:30px;}


.rest-grilla {background-size:cover !important;background-position:center right !important;min-height:350px;background-repeat:no-repeat !important;margin-top:20px;}
.rest-grilla .content-entrada-home {margin-top:auto;background:rgba(47, 47, 71, 0.80);padding:0;}
.rest-grilla .content-entrada-home p {color: #fff;font-family: 'catamaransemibold';margin: 0;max-width:100%;padding: 20px 30px 20px;font-size: 18px;min-height: 145px;}
.rest-grilla .content-entrada-home .icon-premium {position: absolute;bottom: 5px;right: 15px;padding: 10px;}
.rest-grilla .content-entrada-home .icon-premium h6 {color: #3BB9AB;margin: 0 10px 0px 0;font-size: 13px;font-family: 'catamaransemibold';text-align: right;}
.rest-grilla .content-entrada-home .icon-premium img {max-width:30px;}

.ver-mas-blogs {background: #3BB9AB;height: 95%;width: 100%;margin-top: 20px;padding:20px 0;}
.ver-mas-blogs img {max-width:60px;}
.ver-mas-blogs h4 {color: #fff;margin: 15px 0 0;font-family: 'catamaranmedium';font-size: 16px;font-weight: normal;}

.newsletter {background: #EFEFF0;padding: 60px 0 55px;margin-top: 0;}
.newsletter .paralelogramo {min-height: 600px;padding:45px;bottom:0;}
.newsletter .paralelogramo h3 {color:#fff;margin-bottom: auto;font-size:36px;}
.newsletter .row-absolute-news {position:absolute;top:55px;bottom:0;left:0;right:0;}
.newsletter .row-absolute-news form input:focus {outline:none;text-decoration:none;border:none;}
.newsletter .row-absolute-news form input {width:100%;border: none;padding: 10px 15px;font-family: 'catamaranregular';}
.newsletter .row-absolute-news form input[type="submit"] {transition:.6s;background:#1965DF;color: #fff;font-size: 19px;border:2px transparent solid;font-family: 'catamaranmedium';}
.newsletter .row-absolute-news form input[type="submit"]:hover {transition:.6s;color:#1965DF;background:none;border:2px #1965DF solid;}
.newsletter .row-absolute-news form {box-shadow:-6px 2px 4px 1px rgba(0, 0, 0, 0.19);margin-top:50px;}
.newsletter .row-absolute-news img {max-width: 50px;margin-top: 45px;}

/* MODAL NO PREMIUM */

.no-premium-modal form input:focus {outline:none;text-decoration:none;border:none;}
.no-premium-modal form input {width:100%;border: none;padding: 10px 15px;font-family: 'catamaranregular';}
.no-premium-modal form input[type="submit"] {transition:.6s;background:#1965DF;color: #fff;font-size: 19px;border:2px transparent solid;font-family: 'catamaranmedium';}
.no-premium-modal form input[type="submit"]:hover {transition:.6s;color:#1965DF;background:none;border:2px #1965DF solid;}
.no-premium-modal {background: rgba(255, 255, 255, 0.44);}
.no-premium-modal .modal-dialog {max-width: 810px;}
.no-premium-modal .modal-content {border-radius:0;box-shadow: 0px 9px 12px 0px rgba(0, 0, 0, 0.28);border: none;}
.no-premium-modal .modal-body {text-align: center;padding: 70px 100px;position: relative;}
.no-premium-modal .modal-body button {position: absolute;right: 0;top: 0;color: #fff;font-size: 50px;background: #1965DF;padding: 0px 10px 5px;line-height: 0.7;display: flex;align-items: center;justify-content: center;font-weight: 400;opacity: 1;}
.no-premium-modal .modal-body img {max-width: 250px;}
.no-premium-modal .modal-body p {color: #1965DF;margin: 35px 0 25px;font-family: 'catamaranthin';line-height: 1;font-size: 21px;}

.modal-card, .modal-content {max-height:inherit;}
/* SEARCH */
.icon-sear i {color:#fff;}
.icon-sear {transition:.6s;display:inline-block;}
.icon-sear:hover {cursor:pointer;opacity:.6;transition:.6s;}

.search-content {background:#fff;padding:15px 0;}
.search-content form {width:100%;}
.search-content form input {width: 100%;border: 2px #1965DF solid;padding: 10px 15px;font-family: 'catamaranregular';}
.search-content form input[type="submit"] {transition: .6s;background: #1965DF;color: #fff;font-size: 19px;border: 2px transparent solid;font-family: 'catamaranmedium';}
.search-content form input[type="submit"]:hover {transition: .6s;color: #1965DF;background: none;border: 2px #1965DF solid;}

.back-susbrib-top {background:url('../img/back_subri_header.png');background-size:cover;}

.info-suscr {background: #fff;padding: 15px 15px;text-align: left;margin: 10px 0;}
.info-suscr h6 {font-family: 'catamaransemibold';border-bottom: 1px rgba(0, 0, 0, 0.18) solid;padding-bottom: 10px;margin: 0 0 15px;font-size: 14px;}
.info-suscr input {width: auto !important;display: inline-block;margin-bottom: auto;margin-top: 5px;margin-right: 10px;}
.info-suscr label {margin: 0 0 15px;display: inline-block;font-family: 'catamaranregular';font-size: 14px;line-height: 1.2;}

.mapa-sitio {background:#0d2ea0;padding:30px 0 30px;}
.mapa-sitio p a {color:#fff;}
.mapa-sitio p {color: #fff;margin: 30px 0 0;font-family: 'catamaranthin';font-size: 15px;font-weight: normal;display: inline-block;}
.mapa-sitio h3 {color:#fff;margin:0 25px;font-family: 'catamaranthin';font-weight:normal;font-size: 18px;font-weight:normal;display:inline-block;}
.mapa-sitio h3 a {color:#fff;margin:0;font-family: 'catamaranthin';font-size: 18px;font-weight:normal;}

.mapa-sitio .redes {color:#fff;font-size:33px;}

/* MODULO VIDEOS */

.paralelogramo-title-video {width: 100%;min-height: 600px;background: #EA7200;padding: 45px 25px;transform: rotate(20deg) skewY(-20deg);position: relative;bottom: -50px;}
.paralelogramo-title-video h3 {transform: rotate(-20deg) skewY(20deg);color: #fff;font-weight: normal;font-family: 'catamaranthin';font-size: 65px;line-height:.9;margin-bottom: auto;padding-right: 20px;margin-left: auto;}

.module-videos .mg-t-p {margin-top:8%;}
.module-videos .mg-t-p p {font-family: 'catamaranthin';color: #EA7200;font-size: 21px;line-height: 1.3;}

.module-videos {padding:50px 0;}
.module-videos .info-video {position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index:1;}
.module-videos .info-video img {margin-top:auto;position:absolute;max-width:50px;}
.module-videos .info-video h5 {margin-top: auto;margin-right: auto;padding: 35px;color: #fff;margin-bottom: 0;font-family: 'catamaransemibold';font-size: 25px;}
.module-videos .mg-top-row {margin-top:-25%}

.rayo-videos {height: 100%;width: 100%;background: #EA7200;border-radius: 5px;}
.rayo-videos img {max-width: 65px;margin-bottom: 20px;}
.rayo-videos p {font-family: 'catamaransemibold';font-size: 16px;color: #fff;margin: 0;}

.module-herramientas {background:url('../img/background_empodera_herramienta.png');background-size:cover;padding:150px 0;background-position:center;}
.module-herramientas h3 {font-family: 'catamaranthin';color:#3DB7E2;margin:0;font-size:60px;}
.module-herramientas p {font-family: 'catamaranthin';color:#fff;margin:0 0 40px;}
.module-herramientas a {font-family: 'catamaransemibold';color: #fff;margin: 0;background: #3DB7E2;text-align: center;padding: 10px 15px 15px;font-size: 20px;line-height: 1;min-height: 75px;display: flex;align-items: center;justify-content: center;margin-top: 15px;border-radius: 5px;}

.legales {padding:80px 30px;}
.legales h2 {font-family: 'catamaransemibold';margin-bottom:40px;}
.legales h3 {font-family: 'catamaransemibold';}
.legales p {font-family: 'catamaranregular';}


.imgl-view.imgl-theme-default .imgl-hotspots .imgl-hotspot {border-radius:100%;border: 2px #0d2ea0 solid;animation:imagelinks-hotspot-pulse 0.7s steps(5) infinite alternate;animation-iteration-count: infinite !important;background:url('../img/icon_rayito_v2.png');background-size: cover;width: 35px;height: 35px;background-position: center;}
@keyframes imagelinks-hotspot-pulse {
  to {background-position:center;opacity:1;}
  from {background-position: center;width: 30px;height: 30px;opacity:.7;}
}
.imgl-popover.imgl-close.imgl-popover-top.imgl-active {background: rgb(0 0 0 / 40%);position: absolute;top: 10px !important;left: 0 !important;right: 0 !important;bottom: 0 !important;width: 100% !important;display: flex;align-items: center;justify-content: center;}
.imgl-view.imgl-theme-default .imgl-popover.imgl-close .imgl-close {background-color: #fff;opacity: 1;border-radius: 10px;padding: 10px;background-repeat: no-repeat;background-position: center;}
.imgl-view.imgl-theme-default .imgl-popover.imgl-close .imgl-content {max-width: 55%;padding: 0;display: inline-block;}
.imgl-view.imgl-theme-default .imgl-popover.imgl-close .imgl-content p {background: #fff;padding: 8px 15px 12px;display: inline-block;width: 100%;color: #000;font-size: 13px;font-family: 'catamaransemibold';}
.imgl-view.imgl-theme-default .imgl-popover.imgl-close .imgl-content p img {max-width:200px;display:block;margin:0 auto;}
.imgl-view.imgl-theme-default .imgl-popover.imgl-close .imgl-content p strong {font-family:Arial;display: block;font-size: 20px;margin-bottom: 3px;margin-top:10px;}
.imgl-view.imgl-theme-default .imgl-popover.imgl-close .imgl-content a {background: #11339E;width: 100%;text-align: center;display: inline-block;padding: 11px 0;color: #fff;margin-top: 5px;font-family: 'catamaransemibold';font-size: 17px;}
.imgl-view.imgl-theme-default .imgl-popover.imgl-popover-top>.imgl-arrow {display:none;}

.mascara-video .content-entrada-home {margin-top: auto;background:rgba(0, 0, 0, 0.7);opacity: 1;position: relative;z-index: 2;}
.mascara-video .content-entrada-home p {text-align:left;color: #fff;font-family: 'catamaransemibold';margin: 0;max-width: 100%;padding: 20px 30px 20px;font-size: 18px;}

.modal-suscripto {position: fixed;left: 0;right: 0;bottom: 0;top: 0;display: flex;align-items: center;justify-content: center;flex-direction: column;background: rgb(42 40 40 / 92%);z-index: 99;}
.modal-suscripto .content-modal {position:relative;background: #fff;padding: 25px;text-align: center;display: flex;flex-direction: column;align-items: center;min-width: 500px;text-align: center;padding: 45px 0;justify-content: center;}
.modal-suscripto .content-modal h1 {margin: 0 0 20px;font-size: 21px;}
.modal-suscripto .content-modal img {max-width:50px;}
.modal-suscripto .content-modal .close {position: absolute;right: 0;top: 0;color: #fff;font-size: 50px;background: #1965DF;padding: 0px 10px 5px;line-height: 0.7;display: flex;align-items: center;justify-content: center;font-weight: 400;opacity: 1;}

.suscripto-header {padding:35px 0;background:#EFEFF0;}
.suscripto-header h3 {font-size:20px;margin:0 20px;}
.suscripto-header img {max-width:30px;}

.mascara-video.min-ipad-pro {min-height: 190px !important;}
.content-title-videos {background:#000;min-height: 70px;}
.content-title-videos p {min-height: inherit;margin: 0;color: #fff;font-family: 'catamaransemibold';margin: 0;max-width: 100%;padding:10px 20px 10px;text-align: left;font-size: 14px;}

@media screen and (max-width: 1024px) {
  .module-herramientas {padding:80px 0;}
  .rest-grilla {background-position:center right !important;}
  .mascara-video.fullconten-ipad {min-height: 415px !important;}
  .mascara-video.min-ipad-pro {min-height: 160px !important;}
  .module-videos .info-video img {max-width: 25px;}
  .rayo-videos img {max-width: 45px;margin-bottom: 10px;}
  .rayo-videos p {font-size:13px;}
  .rest-grilla .content-entrada-home p {min-height: 120px;}
  .rest-grilla .content-entrada-home p {font-size:16px;}
  .module-videos .mg-top-row {margin-top:-35%;}
  .mascara-video .content-entrada-home p {
    padding: 15px 15px 20px;
    font-size: 15px;
  }
   
}
@media screen and (max-width:996px) {
  .rest-grilla {min-height: 250px;}
  
  .header-nosotros {margin-bottom:90px;}
  .newsletter .row-absolute-news img {max-width: 40px;margin-top: 25px;}
  .module-herramientas a {font-size:15px;}
  .mascara-video .content-entrada-home p {padding: 15px 23px 20px;font-size: 15px;}
  .rayo-videos p {font-size:15px;}
  .module-videos .mg-top-row {margin-top:-55%;}
    .imgl-view.imgl-theme-default .imgl-popover.imgl-close .imgl-content {max-width: 75%;}
    .imgl-view.imgl-theme-default .imgl-popover.imgl-close .imgl-content p {font-size:12px;}
    .content-menu {text-align:center;}
    .module-herramientas a {margin:10px 0 20px;}
    .mapa-sitio h3 {margin:0 10px 5px;}
    .module-herramientas h3 {font-size:43px;}
    .rayo-videos {min-height: inherit;padding: 20px 0;margin-top: 25px;}
    .rayo-videos img {max-width:50px;}
    .paralelogramo-title-video {bottom:0;}
    .module-videos .mg-t-p {margin-top:10px;margin-bottom:10px;}
    .modal-videos h5 {font-size:22px;}
    .newsletter h1 {margin-top: 40px;}
    .content-menu ul li {margin:0 10px;}
    .content-menu ul li a {font-size:14px;}
    header .text-right {text-align:center !important;}
      .destacado-full {min-height:550px;}
      .modulo-02 {margin-top: 50px;position: relative;z-index: 2;}
      .newsletter .paralelogramo h3 {font-size:28px;text-align:right;}
    .paralelogramo {padding: 25px 20px;bottom: -15px;}
      .modulo-02 img {max-width:200px;}
      .destacado-full .content-entrada-home p {max-width:100%;padding: 20px 35px 100px;font-size: 19px;}
      .paralelogramo h3 {text-align:center;margin:0 !important;}
      footer p {margin:0 0 25px;}

      .no-premium-modal .modal-dialog {max-width:100%;margin:0;}
      .no-premium-modal .modal-content {margin:0;}
      .no-premium-modal .modal-body {padding:70px 55px;}

      .rest-grilla .content-entrada-home p {padding: 15px 15px 20px;font-size: 15px;min-height: 120px;}
      .rest-grilla .content-entrada-home .icon-premium {position: relative;bottom: 0;right: 0;padding: 10px 15px;width: 100%;text-align: right;}
      .rest-grilla .content-entrada-home .icon-premium h6 {margin-left:auto;}

      .ver-mas-blogs {height:92%;padding:35px 0;}
      .ver-mas-blogs img {max-width:65px;}
      .ver-mas-blogs h4 {font-size:14px;}
}	
@media screen and (max-width:767px) {
  .mascara-video.min-ipad-pro, .mascara-video.fullconten-ipad {min-height: 260px !important;}
  .mascara-video.fullconten-ipad {min-height: 260px !important;}
  .rest-grilla {background-position:center right !important}
  .main-content {overflow-x: hidden;}
  .module-herramientas {padding:50px 0;}
  .modal-suscripto .content-modal {padding: 65px 45px;min-width: inherit;}
  .imgl-view.imgl-theme-default .imgl-popover.imgl-close .imgl-content {max-width: 75%;}
  .imgl-view.imgl-theme-default .imgl-popover.imgl-close .imgl-content p {font-size:12px;}
  .visible-xs {display:block !important;}
  .hidden-xs {display:none !important;}
  .content-menu {text-align:center;}
  .mascara-video {margin-bottom:0;min-height:205px !important;}
  .content-title-videos {margin-bottom:15px;}
  .mascara-video .content-entrada-home p {font-size:13px !important;padding:10px 23px 10px;min-height: inherit;}
  .module-videos .info-video img {max-width:30px;}
  .module-herramientas a {margin:10px 0 20px;}
  .mapa-sitio h3 {margin:0 10px 5px;}
  .module-herramientas h3 {font-size:43px;}
  .rayo-videos {min-height:250px;}
  .paralelogramo-title-video {min-height:inherit;bottom:0;}
  .module-videos .mg-t-p {margin-top:10px;margin-bottom:10px;}
  .module-videos .mg-top-row {margin-top:0px;}
  .modal-videos h5 {font-size:22px;}
  .newsletter h1 {margin-top: 40px;}
  .content-menu ul li {margin:0 10px;}
  .content-menu ul li a {font-size:14px;}
  header .text-right {text-align:center !important;}
    .destacado-full {min-height:550px;}
    .modulo-02 {margin-top: -110px;position: relative;z-index: 2;}
    .modulo-02 .paralelogramo {transform: rotate(10deg) skewY(-10deg);padding: 45px 20px;}
    .modulo-02 .paralelogramo p {font-size: 18px;margin-bottom: auto;padding-right:10px;margin: 0 25px;}
    .newsletter .paralelogramo {min-height: inherit;padding: 45px 40px;bottom: 0;}
    .newsletter .paralelogramo h3 {font-size:31px;text-align:left;}
    .newsletter .row-absolute-news {position:relative;top:0;}
	.paralelogramo {text-align:center;padding:45px 40px;}
    .modulo-02 img {max-width:200px;}
    .destacado-full .content-entrada-home p {max-width:100%;padding: 20px 35px 100px;font-size: 19px;}
    .paralelogramo h3 {text-align:center;margin:0 !important;}
    footer p {margin:0 0 25px;}

    .no-premium-modal .modal-dialog {max-width:100%;margin:0;}
    .no-premium-modal .modal-content {margin:0;}
    .no-premium-modal .modal-body {padding:70px 55px;}

    .rest-grilla .content-entrada-home p {padding: 20px 30px 20px;font-size: 15px;min-height: inherit;}
    .rest-grilla .content-entrada-home .icon-premium {position: relative;bottom: 0;right: 0;padding: 10px 15px;width: 100%;text-align: right;}
    .rest-grilla .content-entrada-home .icon-premium h6 {margin-left:auto;}

    .ver-mas-blogs {height:100%;padding:35px;}
    .ver-mas-blogs img {max-width:65px;}
    .ver-mas-blogs h4 {font-size:14px;}
}							

@media screen and (max-width:375px) { 
  .mascara-video.min-ipad-pro, .mascara-video.fullconten-ipad {min-height:210px !important;}
}