/* CUSTOM STYLES */

.header-nosotros {width:100%;position:relative;z-index:1;min-height: 975px;background-size: cover !important;background-position: top center !important;background-repeat: no-repeat !important;}
.header-nosotros .container {margin-bottom: auto;margin-top:3.5%;}
.header-nosotros h4 {color: #3BB9AB;margin: 0 0 20px;font-size: 55px;font-family: 'catamaranlight';line-height: 1;}
.header-nosotros p {font-family: 'catamaranregular';font-size: 22px;margin: 0;color: #3BB9AB;line-height: 1.3;max-width: 85%;}

.module-01-nosotros .row {margin-top: -19% !important;}
.module-01-nosotros p {font-family: 'catamaranthin';color:#717378;margin:40% 0 0;font-size: 25px;text-align: right;line-height: 1.3;}

.module-02-nosotros {position:relative;}
.module-02-nosotros .text-mod {position: absolute;top: 0;bottom: 0;left: 55%;right: 15%;display: flex;align-items: center;justify-content: center;}
.module-02-nosotros .text-mod p {max-width: 100%;font-family: 'catamaranthin';color: #fff;font-size: 24px;text-align: left;line-height: 1.3;margin: 0;}

.module-03-nosotros {padding:150px 0 120px;}
.module-03-nosotros img {max-width:250px;}

@media screen and (max-width:996px) {
   header-nosotros p {max-width:100%;}
   	.module-01-nosotros p {margin:25% 0 35px;}
   	.text-mod {left: 55%;right: 0%;}
   	.module-02-nosotros .text-mod p {font-size: 20px;}
}

@media screen and (max-width:767px) {
	.header-nosotros p {max-width:100%;}
	.module-01-nosotros p {margin:25% 0 35px;}
	.text-mod {left: 0 !important;position: relative !important;background: #5b576d;padding: 20px;margin-top: -1px;}
	.module-02-nosotros .text-mod p {font-size: 20px;}
	.header-nosotros h4 {font-size:38px;}
	.header-nosotros p {font-size:19px;}
	.header-nosotros {min-height: 500px;background-position: 25% !important;}
}