<div id="imgl-ui-modal-{{ modalData.id }}" class="imgl-ui-modal" tabindex="-1">
	<div class="imgl-ui-modal-dialog">
		<div class="imgl-ui-modal-header">
			<div class="imgl-ui-modal-close" x-ng-click="modalData.deferred.resolve('close');">&times;</div>
			<div class="imgl-ui-modal-title">Select Images</div>
		</div>
		<div class="imgl-ui-modal-data">
			<div class="imgl-ui-modal-info">
				Before select, you should upload images to 'upload' folder via FTP
			</div>
	
			<select class="imgl-ui-modal-long" size="10" x-ng-dblclick="modalData.fn.selectFile(modalData)" x-ng-options="file as file.filename for file in modalData.files" x-ng-model="modalData.selectedFile">
				<option style="display:none" value=""></option>
			</select>
		</div>
		<div class="imgl-ui-modal-footer">
			<div class="imgl-ui-modal-btn imgl-ui-modal-btn-close" x-ng-click="modalData.deferred.resolve('close');">Close</div>
			<div class="imgl-ui-modal-btn imgl-ui-modal-btn-select" x-ng-click="modalData.fn.selectFile(modalData);">Select</div>
		</div>
	</div>
</div>